@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital@1&family=Nunito&family=Playfair+Display&family=Poppins&family=Vidaloka&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.slide {
  align-items: center;
  animation: slideshow 200s linear infinite;
}

.slide img {
  /* height: 700px; */
  border: 2px;
  width: 100%;
}

@keyframes slideshow {
  0% {
    transform: translateY(0); /* Change to translateY */
  }
  100% {
    transform: translateY(-100%); /* Change to translateY */
  }
}

/* _________________________________________________________________________________________________-____ */

.wrapper1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider1 {
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.slide1 {
  align-items: center;
  animation: slideshow1 200s linear infinite;
}

.slide1 img {
  /* height: 700px; */
  width: 100%;
  border: 2px;
}

@keyframes slideshow1 {
  50% {
    transform: translateY(0); /* Change to translateY */
  }
  0% {
    transform: translateY(-50%); /* Change to translateY */
  }
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.fade-in-out {
  animation: fadeInOut 3s infinite;
}
/* Styles for scrolling the image */
.scrollable {
  overflow-y: hidden;
  max-height: 100%;
}

/* Transition when image is hovered */
.scrollable img {
  display: block;
  transition: transform 7s ease-in-out, ;
  transform: translateY(0) scale(1);
}

/* Transition when mouse leaves */
.scrollable-leave img {
  transition: transform 5s ease-in-out, ;
  transform: translateY(0) scale(1);
}

.scrollable:hover img {
  transform: translateY(-50%) ;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hover-bounce {
  transition: transform 0.3s;
}

.hover-bounce:hover {
  animation: bounce 0.6s ;
}

.hover-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #f3bf66;
  z-index: -1;
  transition: left 0.3s ease;
}

.hover-black:hover::before {
  left: 0;
}

@keyframes pulse-light-dark {
  0%, 100% {
    background-color: #f7f5f5;
  }
  50% {
    background-color: #E5E5E5;
  }
}

.pulse-light-dark {
  animation: pulse-light-dark 5s infinite;
}

/* img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
} */


/* img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-drag: none;
} */


.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.custom-checkbox input[type="checkbox"]:checked + .checkbox-label {
  background-color: black; /* Background color when checked */
  border-color: black;      /* Border color when checked */
}

.checkbox-label {
  display: inline-block;
  width: 16px;       /* Adjust size as needed */
  height: 16px;      /* Adjust size as needed */
  border: 2px solid gray;  /* Border color when unchecked */
  border-radius: 4px;      /* Rounded corners */
  cursor: pointer;
  position: relative;
  background-color: white; /* Background color when unchecked */
}

.checkbox-label::after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkbox-label::after {
  opacity: 1;
}
